.Feed {
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 2%;
    border-bottom-left-radius: 2%;
    background-color: #FFFDE7;
}

.Feed .Title {
    width: 100%;
    height: 5%;
    background-color: #212121;
    color: #FFFDE7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Content_Feed {
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow-y: auto;
}