.Input input, select {
    display: inline-block;
    border: none;
    border-bottom: 1px solid #000000;
    background-color: #ffffff00;
    margin: 15px 0;
    width: 15vw;
    height: 100%;
    align-self: right;
    outline: none;
}

.Input input::-webkit-input-placeholder {
    color: rgba(61, 58, 58, 0.603);
    position: relative;
    padding-left: 0;
    -webkit-transition: 1s ease;
    transition: 1s ease;
}

.Input input:hover::-webkit-input-placeholder, .Input input:focus::-webkit-input-placeholder {
    transform: translateX(50%);
}