version: '3.7'
services:
    react:
        build:
          ./
        volumes:
            - .:/app
            - /app/node_modules
        ports:
            - '3000:3000'
        environment:
            - NODE_ENV=development
            - CHOKIDAR_USEPOLLING=true        
        stdin_open: true