.TeacherBox {
    width: 90%;
    height: 90%;
    min-height: 60%;
    background-color: #E5E5E5;
    border-radius: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Info_TeacherBox  {
    width: 45%;
    height: 10%;
    display: flex;
    align-items: left;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 5%;
}

.Posts_TeacherBox {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    overflow-y: auto;
}

.Posts_TeacherBox span{
    width: 90%;
    min-width: 90%;
    height: 45%;
    min-height: 45%;
    margin-bottom: 5%;
}

.TeacherBox header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}