.TeacherBox {
    width: 90%;
    height: 90%;
    background-color: #E5E5E5;
    border-radius: 5%;   
}

.TeacherBox .Info {
    width: 45%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 5%;
}

.TeacherBox .Avaliations {
    width: 90%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5%;
}