.TeacherBox {
    width: 90%;
    height: 90%;
    background-color: #E5E5E5;
    border-radius: 5%;   
}

.Info_TeacherBox  {
    width: 45%;
    height: 10%;
    display: flex;
    align-items: left;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 5%;
    padding-top: 5%
}

.Avaliations_TeacherBox {
    width: 90%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 5%;
}