.Menu {
    background-color: #212121;
    display: flex;
    height: 7vh;
}

.Logo img {
    max-height: 100%;
    max-width: 80%;
    display: inline-block;
}

.Menu .ProfessorSearch{
    display: inline-block;
}

.Menu input {
    color: #FFFDE7;
    border-bottom: 1px solid #FFFDE7;
}

.Menu input::-webkit-input-placeholder  {
    color: rgba(255, 255, 255, 0.603);
}