.Post {
    background-color: #FFD54F;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.Header_Post {
    display: block;
    height: 30%;
    display: flex;
    justify-content: space-between;
}

.Info_Student {
    height: 100%;
    font: 10px Ubuntu;
    padding-left: 2%;
    padding-top: 2%;
}

.Info_Student .Name{
    color: #989898;
}

.Header_Post .Rating{
    padding: 2%;
}

.Content_Post {
    background-color: #FFFDE7;
    width: 90%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    font: 12px Ubuntu;
}