.ProfessorSearch {
        width: 45%;
        height: 90%;
}

.ProfessorSearch .Professors {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
}